[default]
mode = "idem"
role = "kernel"
expand = true
strict = true
replicate = true

# Keep infrastructure and external dependencies out of the scheduler.
disable = [
  'yomhook', 'dr_hook', 'abor1', 'abort', 'abort_surf', 'flush', 'write',
  'parkind1', 'parkind2', 'ec_parkind',
  'ieee_arithmetic', 'ieee_exceptions',
  'ieee_set_halting_mode', 'ieee_get_halting_mode',
  'foedelta', 'foeew', 'foede', 'foelh', 'foedesu',
  'pz0sea', 'pzplus', 'pzmins', 'pzz', 'pznsea', 'pz0ice',
  'phihu', 'phimu', 'psihu', 'psimu', 'phims', 'phihs', 'psihs', 'psims',
  'flwc', 'fsntcond', 'fsoiltcond', 'zflake_buoypar',
  'emis_bvoc', 'bvoc_emis',
  'ocean_ml_driver', 'ocean_ml_driver_v2',
  'dattim', 'updcal', 'surfws'
]

block = [
  'parkind1', 'parkind2', 'ec_parkind',
  'farquhar',
]

[transformations.RemoveCodeTransformation]
  module = "loki.transformations"
[transformations.RemoveCodeTransformation.options]
  remove_marked_regions = true
  remove_dead_code = false
  remove_unused_args = false
  call_names = ['dr_hook', 'abor1', 'abort', 'abort_surf', 'flush']
  intrinsic_names = ['write']
  kernel_only = true

[transformations.IdemTransformation]
  module = "loki.transformations"

[transformations.ModuleWrapTransformation]
  module = "loki.transformations"
[transformations.ModuleWrapTransformation.options]
  module_suffix = "_MOD"
  replace_ignore_items = false

[transformations.DependencyTransformation]
  module = "loki.transformations"
[transformations.DependencyTransformation.options]
  module_suffix = "_MOD"
  suffix = "_LOKI"
  replace_ignore_items = false

[pipelines.idem]
  transformations = [
    'RemoveCodeTransformation', 'IdemTransformation',
    'ModuleWrapTransformation', 'DependencyTransformation'
  ]

[routines.callpar1s]
  role = "driver"
  expand = true
  replicate = false
  lib = 'ecland-master'

[routines.vdfmain1s]
  role = "kernel"
  expand = true
  replicate = false
  lib = 'ecland-master'

[routines.surftstp_layer]
  role = "kernel"
  expand = true
  replicate = false
  lib = 'ecland-master'

[routines.surfbc]
  role = "kernel"
  expand = true
  replicate = true
  lib = 'ecland_surf'

[routines.surfrad]
  role = "kernel"
  expand = true
  replicate = true
  lib = 'ecland_surf'

# [routines.surfws]
#   role = "kernel"
#   expand = true
#   replicate = true
#   lib = 'ecland_surf'

[routines.surftstp]
  role = "kernel"
  expand = true
  replicate = true
  lib = 'ecland_surf'

[routines.surfexcdriver]
  role = "kernel"
  expand = true
  replicate = true
  lib = 'ecland_surf'

[routines.surfpp]
  role = "kernel"
  expand = true
  replicate = true
  lib = 'ecland_surf'

[dimensions.horizontal]
  size = "KLON"
  index = "JL"
  bounds = ["KIDIA", "KFDIA"]
